.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
.externalToolBuilders/
.cache-main
.scala_dependencies
.worksheet
exercise.iml
HELP.md
mvnw
mvnw.cmd
